<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>

<body>
    <div id="app">
        <table v-show="books.length>0">
            <thead>
                <tr>
                    <th></th>
                    <th>书籍名称</th>
                    <th>出版日期</th>
                    <th>价格</th>
                    <th>购买数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(book,index) in books">
                    <th>{{index+1}}</th>
                    <th v-for="(value,key) in book">
                        <span v-if="key=='price'">{{formatPrice(value)}}</span>
                        <span v-else-if="key=='num'">
                            <button @click="sub(index)" :disabled="value<=1">-</button>
                            {{value}}
                            <button @click="add(index)">+</button>
                        </span>
                        <span v-else>{{value}}</span>
                    </th>
                    <th><button @click="remove(index)">移除</button></th>
                </tr>
            </tbody>
        </table>
        <h2 v-show="books.length>0">总价:{{totalPrice|showPrice}}</h2>
        <h2 v-show="books.length==0">购物车为空</h2>
    </div>

    <script src="./js/vue.js"></script>
    <script>
        //let(变量)/const(常量)
        const app = new Vue({
            el: "#app", //用于挂载要管理的元素
            data: {//定义数据
                books: [{
                    name: '《算法与导论》',
                    date: '2006-9',
                    price: 85.00,
                    num: 1
                },
                {
                    name: '《UNIX编程艺术》',
                    date: '2006-2',
                    price: 59.00,
                    num: 1
                }, {
                    name: '《编程珠玑》',
                    date: '2008-10',
                    price: 39.00,
                    num: 1
                }, {
                    name: '《代码大全》',
                    date: '2006-3',
                    price: 128.00,
                    num: 1
                }]
            },
            computed: {
                totalPrice() {
                    let result = 0.00
                    // for (let i in this.books) {
                    //     result += this.books[i].price * this.books[i].num
                    // }
                    // for (let book of this.books) {
                    //     result += book.price * book.num
                    // }
                    result = this.books.reduce((tmpPrice, book)=>(tmpPrice + book.price * book.num), 0)
                    return result
                }
            },
            methods: {
                formatPrice(price) {
                    return '¥' + price.toFixed(2)
                },
                remove(index) {
                    this.books.splice(index, 1)
                },
                add(index) {
                    this.books[index].num++;
                },
                sub(index) {
                    this.books[index].num--;
                }
            },
            filters: {
                showPrice(price) {
                    return '¥' + price.toFixed(2)
                }
            }
        })
    </script>
</body>

</html>